@page "/fetchcustomers"
@using CrudTest.Core.Contracts.DTOs.Customer
@inject HttpClient _http

<h1>Customers</h1>

<p>This component fetches all customers from the server.</p>

<p>Customer ID :&emsp;<input id="customerId" name="Customer ID" type="text" @bind="_idText"/>&emsp;<input type="submit" value="Fetch Customer" class="submit" onclick="@GetCustomerById"/></p>


@if (_customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Bank account</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerGetDTO customer in _customers)
            {
                string bNumber = customer.BankAccountNumber.ToString();
                bNumber.Insert(0, new string('0', 16 - bNumber.Length));

                <tr>
                     <td>@customer.Id.ToString()</td>
                     <td>@customer.FirstName</td>
                     <td>@customer.LastName</td>
                     <td>@customer.DateOfBirth.ToShortDateString()</td>
                     <td>+@customer.PhoneNumber</td>
                     <td>@customer.Email</td>
                     <td>@bNumber.Substring(0,4)-@bNumber.Substring(4,4)-@bNumber.Substring(8,4)-@bNumber.Substring(12,4)</td>
                     <td><input type="submit" value="Remove" class="delete" @onclick="() => DeleteCustomerById(customer.Id)"/></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string _idText = "";
    private CustomerGetDTO[] _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await _http.GetFromJsonAsync<CustomerGetDTO[]>("api/Customer");
    }

    private async Task GetCustomerById()
    {
        _customers = null;

        if (string.IsNullOrEmpty(_idText))
        {
            await OnInitializedAsync();
        }
        else
        {
            try
            {
                var id = Guid.Parse(_idText);
                var customer = await _http.GetFromJsonAsync<CustomerGetDTO>($"api/Customer/CustomerById/{id}");
                _customers = new []{ customer };
            }
            catch
            {
            }
        }
    }

    private async Task DeleteCustomerById(Guid id)
    {
        var customer = await _http.DeleteAsync($"api/Customer/{id}");

        await OnInitializedAsync();
    }
}
